main {
  justify-content: center;
  align-items: center;
}

.formContainer {
  padding: 3%;
}

.headerContainer {
  padding: 2% 2% 2% 2%;
  background-color: black;
  color: white;
}

.headerTitle, .headerNav, .title {
  display: inline;
}

.headerNav {
  float: right;
}

.titleContainer {
  padding: 2%;
}

a:hover {
  cursor: pointer;
}

.thumbsUp:hover, .thumbsDown:hover {
  opacity: .50;
}

.video {
  /*border: 1px solid black;*/
  padding: 2%;
}

.videoLink {
  font-size: 20px;
  font-weight: bold;
}
