<link rel="stylesheet" href="/styles/home.css">
<div class="admin">
<h2 class="adminHeader text-center">Welcome!</h2>

<div class="videoForm">
  <h3 class="formTitle">Submit A New Video</h3>
  <form class="applicantForm">
    <div class="row">
      <label class="col-xs-1 col-xs-offset-1" for="video.title">Video Title: </label>
      <input type="text" ng-model="video.title" required/>
    </div>

    <div class="row">
      <label class="col-xs-1 col-xs-offset-1" for="video.url">Url: </label>
      <input type="text" ng-model="video.url" required/>
    </div>

    <button class="col-xs-2 col-xs-offset-5" type="submit" ng-click="submitVideo()">Submit</button>
    </form>
  </div>
</div>
