<link rel="stylesheet" href="/styles/home.css">
<div class="formContainer">

<div class="videoForm">
  <h3 class="formTitle">Submit A New Video</h3>
  <form class="formInfo">
    <div class="row">
      <label class="col-xs-1 col-xs-offset-1 paddingAdded" for="video.title">Title: </label>
      <input type="text" ng-model="video.title" size="35" required/>
    </div>

    <div class="row">
      <label class="col-xs-1 col-xs-offset-1 paddingAdded" for="video.url">URL: </label>
      <input type="text" ng-model="video.url" size="35" required/>
    </div>

    <button class="col-xs-2 col-xs-offset-5 submitBtn" type="submit" ng-click="submitVideo()">Submit</button>
    </form>
  </div>
</div>

<div class="titleContainer">
  <h2 class="title" ng-show="show1">All Videos (most-least recent)</h2>
  <h2 class="title" ng-show="show2">Top 10 Most Viewed</h2>
  <h2 class="title" ng-show="show3">Top 10 Highest Voted</h2>

  <div class="btn-group headerNav dropdown" ng-hide="hiddenAdmin" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Navigation <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem"><a ng-click="seeAll()">All Videos</a></li>
      <li role="menuitem"><a ng-click="views()">Top 10 Most Viewed</a></li>
      <li role="menuitem"><a ng-click="votes()">Top 10 Highest Voted</a></li>
    </ul>
  </div>
</div>

<div class="allVideos" ng-show="show1" ng-repeat="video in allVideos | orderBy:'attributes.created_at':true">
  <div class="video col-md-6">
    <a class="videoLink" target="_blank" href="{{video.attributes.url}}" ng-click="addView(video.id)">{{video.attributes.title}}</a>
    <h4>Date Added: {{video.attributes.created_at}}</h4>
    <h4>Votes: {{video.attributes.vote_tally}}</h4>
    <h4>Views: {{video.attributes.view_tally}}</h4>
    <button class="thumbsUp" ng-click="upVote(video.id)"><img src="/images/Thumbs_Up.png"/></button>
    <button class="thumbsDown" ng-click="downVote(video.id)"><img src="/images/Thumbs_Down.png"/></button>
  </div>
</div>


<div class="allVideos" ng-show="show2" ng-repeat="video in allVideos | orderBy:'attributes.view_tally':true | limitTo:10">
  <div class="video col-md-6">
    <a class="videoLink" target="_blank" href="{{video.attributes.url}}" ng-click="addView(video.id)">{{video.attributes.title}}</a>
    <h4>Created: {{video.attributes.created_at}}</h4>
    <h4>Views: {{video.attributes.view_tally}}</h4>
    <button class="thumbsUp" ng-click="upVote(video.id)"><img src="/images/Thumbs_Up.png"/></button>
    <button class="thumbsDown" ng-click="downVote(video.id)"><img src="/images/Thumbs_Down.png"/></button>
  </div>
</div>

<div class="allVideos" ng-show="show3" ng-repeat="video in allVideos | orderBy:'attributes.vote_tally':true | limitTo:10">
  <div class="video col-md-6">
    <a class="videoLink" target="_blank" href="{{video.attributes.url}}" ng-click="addView(video.id)">{{video.attributes.title}}</a>
    <h4>Created: {{video.attributes.created_at}}</h4>
    <h4>Votes: {{video.attributes.vote_tally}}</h4>
    <button class="thumbsUp" ng-click="upVote(video.id)"><img src="/images/Thumbs_Up.png"/></button>
    <button class="thumbsDown" ng-click="downVote(video.id)"><img src="/images/Thumbs_Down.png"/></button>
  </div>
</div>
